@import 'ease/ease-import.scss';

:host {
  .user-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-fog;
    cursor: pointer;

    &:hover {
      background-color: $color-fog;
    }
  }

  .user-info {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    padding: 12px;
    color: $color-night;

    &__image {
      border-radius: 20%;
      height: 40px;
      width: 40px;
    }

    &__name,
    &__email,
    &__phone {
      margin: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
    }

    &__name {
      flex: 1;
      min-width: 100px;
    }

    &__email {
      width: 220px;
    }

    &__phone {
      width: 110px;
    }

    &__nat {
      margin-left: 12px;
      text-align: right;
      width: 80px;
    }
  }

  .details {
    padding: 12px;
    display: flex;
    gap: 2rem;
  }
}
